<div class="wrapper">
  <div class="container">
    <div class="form-container">
      <div class="box-100">
        <h2><%= @project_member.user.display_name %>の詳細</h2>
      </div>

      <div class="box-100">
        <div class="form-field">
          <%= image_tag @project_member.user.get_profile_image(300,300), class: "profile-image" %>
        </div>

        <div class="form-field">
          <p>表示名<br>
          <span class="form-textbox"><%= @project_member.user.display_name %></span></p>
        </div>

        <div class="form-field">
          <p>ユーザーネーム<br>
          <span class="form-textbox"><%= @project_member.user.user_name %></span></p>
        </div>

        <div class="form-field">
          <p>プロジェクト権限<br>
          <span class="form-textbox"><%= @project_member.permission %></span></p>
        </div>

        <div class="form-action">
          <%= link_to "編集", edit_project_project_member_path(@project_member.project_id, @project_member.id), method: :get, class: "btn green-color" %>
        </div>

        <div class="form-action">
          <%= link_to "削除", project_project_member_path(@project_member.project_id, @project_member.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn red-color" %>
        </div>

        <div class="form-action">
          <%= link_to "戻る", project_path(@project_member.project_id), method: :get, class: "btn blue-color" %>
        </div>
      </div>
    </div>
  </div>
</div>