<td><%= parent_task.display_order %></td>
<td><i class="fa fa-folder-open"></i><%= link_to parent_task.title, project_parent_task_path(parent_task.project.id,parent_task.id), method: :get %></td>
<td><%= parent_task.parent_task_start_date %></td>
<td><%= parent_task.parent_task_end_date %></td>
<td><%= parent_task.parent_task_status %></td>
<td><%= parent_task.parent_task_progress %>%</td>
<td></td>
<% if (parent_task.project.project_start_date.class == Date) && (parent_task.project.project_end_date.class == Date) %>
  <% (parent_task.project.project_start_date..parent_task.project.project_end_date).each do |day| %>
  <td class="<%= parent_task.date_comparison(day) %>"></td>
  <% end %>
<% end %>
