<div class="wrapper">
  <div class="container">
    <div class="form-container">
      <div class="box-100">
        <h2><%= @project.title %>の編集</h2>
      </div>

      <%= render "layouts/errors", obj: @project %>

      <div class="box-100">
        <%= form_with model: @project, url: project_path(@project.id), local: true, method: :patch do |f| %>
          <div class="form-field">
            <%= f.label :title, "タイトル(最大32字)" %><br>
            <%= f.text_field :title, class: "form-textbox" %>
          </div>

          <div class="form-field">
            <%= f.label :description, "説明(最大140字)" %><br>
            <%= f.text_area :description, class: "form-textbox" %>
          </div>

          <div class="form-field">
            <p>開始日<span class="note-text">※開始日は自動更新のため変更できません。</span><br>
            <span class="display-textbox"><%= @project.project_start_date %></p>
          </div>

          <div class="form-field">
            <p>終了日<span class="note-text">※終了日は自動更新のため変更できません。</span><br>
            <span class="display-textbox"><%= @project.project_end_date %></p>
          </div>

          <div class="form-field">
            <%= f.label :user_id, "プロジェクトオーナー" %><br>
            <%= f.select :user_id, options_for_select(@project.select_menber_list, @project.user_id),{ }, {id: "", class: "form-textbox"} %>
          </div>

          <div class="form-action">
            <%= f.submit "更新", class: "btn green-color" %>
          </div>

        <% end %>

        <div class="form-action">
          <%= link_to "削除", project_path(@project.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn red-color" %>
        </div>

        <div class="form-action">
          <%= link_to "戻る", project_path(@project.id), method: :get, class: "btn blue-color" %>
        </div>

      </div>
    </div>
  </div>
</div>
