<div class="wrapper">
  <div class="container flex-box">
    <div class="box-100">
      <%= render "public/projects/project_menu", { project: @project } %>
    </div>

    <div class="box-100">
      <h2><%= @project.title %>のガントチャート</h2>
    </div>

    <div class="box-100">
      <svg id="gantt"></svg>
    </div>
  </div>
</div>

<script>
window.onload = function() {

  const tasks = [
  <% @project.parent_tasks.order(display_order: :ASC).each do |parent_task| %>
    {
    	id: '<%= parent_task.id %>',
    	name: '<%= parent_task.title %>',
    	description: '<%= parent_task.description %>',
    	start: '<%= parent_task.parent_task_start_date %>',
    	end: '<%= parent_task.parent_task_end_date %>',
      progress: <%= parent_task.parent_task_progress %>,
      custom_class: "PARENT_TASK",
      dependencies: '',
    },
    <% parent_task.child_tasks.order(display_order: :ASC).each do |child_task| %>
      {
      	id: '<%= child_task.parent_task.id %>-<%= child_task.id %>',
      	name: '<%= child_task.title %>',
      	description: '<%= child_task.description %>',
      	start: '<%= child_task.start_date %>',
      	end: '<%= child_task.end_date %>',
      	progress: <%= child_task.progress %>,
        custom_class: "CHILD_TASK",
        dependencies: '<%= child_task.parent_task.id %>',
      },
    <% end %>
  <% end %>
  ];

  new Gantt("#gantt", tasks, {
    date_format: "YYYY-MM-DD",
    bar_height: 20,
    bar_corner_radius: 4,
    arrow_curve: 4,
    padding: 20,
    custom_popup_html: (task) =>
      `<div class="details-container">
        <p>タスク：${task.name}</p>
        <p>開始日：${task.start}</p>
        <p>終了日：${task.end}</p>
        <p>進捗率：${task.progress}%</p>
        <hr />
      </div>`,
  	on_click: function (task) {
  		console.log(task);
  	},
  	on_date_change: function(task, start, end) {
  		console.log(task, start, end);
  	},
  	on_progress_change: function(task, progress) {
  		console.log(task, progress);
  	},
  	on_view_change: function(mode) {
  		console.log(mode);
  	},

  });

};

</script>