<div class="wrapper">
  <div class="container flex-box">
    <div class="box-100">
      <%= render "public/projects/project_menu", { project: @project } %>
    </div>

    <div class="box-100">
      <h2><%= @project.title %>のガントチャート</h2>
    </div>

    <div class="box-100">
      <div class="gantt-chart-container">
        <table class="table gantt-chart">
          <thead>
            <tr>
              <th>タスク</th>
              <% if (@project.project_start_date.class == Date) && (@project.project_end_date.class == Date) %>
                <% (@project.project_start_date..@project.project_end_date).each do |day| %>
                <th><%= day.strftime("%m/%d") %></th>
                <% end %>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @project.parent_tasks.order(display_order: :ASC).each do |parent_task| %>
            <tr id="parent_task_<%= parent_task.id %>">
              <td><%= parent_task.display_order %>:<i class="fa fa-folder-open"></i><%= link_to parent_task.title, project_parent_task_path(parent_task.project.id,parent_task.id), method: :get %></td>
              <% if (parent_task.project.project_start_date.class == Date) && (parent_task.project.project_end_date.class == Date) %>
                <% (parent_task.project.project_start_date..parent_task.project.project_end_date).each do |day| %>
                <td class="<%= parent_task.date_comparison(day) %>"></td>
                <% end %>
              <% end %>
            </tr>
              <% parent_task.child_tasks.order(display_order: :ASC).each do |child_task| %>
              <tr id="child_task_<%= child_task.id %>">
                <td><%= child_task.parent_task.display_order %>-<%= child_task.display_order %>:<i class="fa fa-right-from-bracket"></i><%= link_to child_task.title, project_child_task_path(child_task.project.id,child_task.id), method: :get %></td>
                <% if (child_task.project.project_start_date.class == Date) && (child_task.project.project_end_date.class == Date) %>
                  <% (child_task.project.project_start_date..child_task.project.project_end_date).each do |day| %>
                  <td class="<%= child_task.date_comparison(day) %>"></td>
                  <% end %>
                <% end %>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
