<div class="wrapper">
  <div class="container">
    <div class="form-container">
      <div class="box-100">
        <h2>プロジェクト新規作成</h2>
      </div>

      <%= render "layouts/errors", obj: @project_new %>

      <div class="box-100">
        <%= form_with model: @project_new, url: projects_path, local: true, method: :post do |f| %>
          <div class="form-field">
            <%= f.label :title, "タイトル(最大32字)" %><br>
            <%= f.text_field :title, class: "form-textbox" %>
          </div>

          <div class="form-field">
            <%= f.label :description, "説明(最大140字)" %><br>
            <%= f.text_area :description, class: "form-textbox" %>
          </div>

          <div class="form-field">
            <%= f.label :start_date, "開始日" %><br>
            <%= f.date_field :start_date, value: Date.today, class: "form-textbox" %>
          </div>

          <div class="form-field">
            <%= f.label :end_date, "終了日" %><br>
            <%= f.date_field :end_date, value: Date.today.next_month, class: "form-textbox" %>
          </div>

          <div class="form-action">
            <%= f.submit "新規作成", class: "btn green-color" %>
          </div>
        <% end %>

        <div class="form-action">
          <%= link_to "戻る", dashboard_path, method: :get, class: "btn blue-color" %>
        </div>

      </div>
    </div>
  </div>
</div>