<div class="wrapper">
  <div class="container flex-box">
    <div class="box-100">
      <%= render "public/projects/project_menu", { project: @project } %>
    </div>

    <div class="box-100">
      <h2><%= @project.title %>のダッシュボード</h2>
      <p><%= @project.description %></p>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>オーナー</h3>
      </div>
      <div class="announcement_body">
        <p><%= @project.user.display_name %></p>
      </div>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>期間</h3>
      </div>
      <div class="announcement_body" id="project_date">
        <%= render "public/projects/project_date", { project: @project } %>
      </div>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>ステータス</h3>
      </div>
      <div class="announcement_body" id="project_status">
        <%= render "public/projects/project_status", { project: @project } %>
      </div>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>進捗率</h3>
      </div>
      <div class="announcement_body" id="project_progress">
        <%= render "public/projects/project_progress", { project: @project } %>
      </div>
    </div>

    <div class="box-100">
      <%= link_to "プロジェクトを編集する", edit_project_path(@project.id), method: :get, class: "btn green-color" %>
    </div>

    <div class="box-100">
      <h2>プロジェクトメンバー一覧</h2>
    </div>

    <div class="box-100">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>表示名</th>
              <th>ユーザーネーム</th>
              <th>プロジェクト権限</th>
              <th>タスク進捗率</th>
            </tr>
          </thead>
          <tbody>
            <% @project.project_members.each do |project_member| %>
            <tr>
              <td><%= image_tag project_member.user.get_profile_image(12,12), class: "profile-icon" %><%= link_to project_member.user.display_name, project_project_member_path(project_member.project.id,project_member.id), method: :get %></td>
              <td><%= project_member.user.user_name %></td>
              <td><%= project_member.permission_i18n %></td>
              <td id="project_member_<%= project_member.id %>"><%= render "public/projects/project_member_progress", { project_member: project_member } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box-100">
      <%= link_to "メンバーを追加する", new_project_project_member_path(@project.id), method: :get, class: "btn green-color" %>
    </div>

    <div class="box-100">
      <h2>資料一覧</h2>
    </div>

    <div class="box-100">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>URL</th>
              <th>作成者</th>
              <th>作成日</th>
            </tr>
          </thead>
          <tbody>
            <% @project.documents.each do |document| %>
            <tr>
              <td><%= link_to document.title, project_document_path(@project.id,document.id), method: :get %></td>
              <td><%= link_to document.url, document.url, target: :_blank, rel: "noopener noreferrer" %></td>
              <td><%= document.user.display_name %></td>
              <td><%= document.created_at.to_date %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box-100">
      <%= link_to "資料を追加する", new_project_document_path(@project.id), method: :get, class: "btn green-color" %>
    </div>

    <div class="box-100">
      <h2>タスク一覧</h2>
    </div>

    <div class="box-100">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>タスク</th>
              <th>開始日</th>
              <th>終了日</th>
              <th>ステータス</th>
              <th>進捗率</th>
              <th>担当者</th>
            </tr>
          </thead>

          <tbody>
            <% @project.parent_tasks.order(display_order: :ASC).each do |parent_task| %>
            <tr id="parent_task_<%= parent_task.id %>">
              <%= render "public/projects/parent_task_list", { parent_task: parent_task } %>
            </tr>
              <% parent_task.child_tasks.order(display_order: :ASC).each do |child_task| %>
              <tr id="child_task_<%= child_task.id %>">
                <%= render "public/projects/child_task_list", { child_task: child_task } %>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box-100">
      <%= link_to "親タスクを1件追加する", new_project_parent_task_path(@project.id), method: :get, class: "btn green-color" %>
      <%= link_to "親タスクを一括追加する", project_parent_task_bulk_new_path(@project.id), method: :get, class: "btn green-color" %>
      <%= link_to "親タスクを一括編集する", project_parent_task_bulk_edit_path(@project.id), method: :get, class: "btn blue-color" %>
      <%= link_to "親タスクを一括削除する", project_parent_task_bulk_delete_path(@project.id), method: :get, class: "btn red-color" %>
    </div>
    <div class="box-100">
      <%= link_to "子タスクを1件追加する", new_project_child_task_path(@project.id), method: :get, class: "btn green-color" %>
      <%= link_to "子タスクを一括追加する", project_child_task_bulk_new_path(@project.id), method: :get, class: "btn green-color" %>
      <%= link_to "子タスクを一括編集する", project_child_task_bulk_edit_path(@project.id), method: :get, class: "btn blue-color" %>
      <%= link_to "子タスクを一括削除する", project_child_task_bulk_delete_path(@project.id), method: :get, class: "btn red-color" %>
    </div>

  </div>
</div>

<script>
$(document).on('change', '.select-status', function() {

  const get_url = $(this).parent().attr("action");
  console.log(get_url);
  const get_value = $(this).val();
  console.log(get_value);

  $.ajax({
    url: get_url,
    type: "PATCH",
    data: { child_task: { status: get_value } }
  })
  .done(function(){
    console.log("成功");
  })
  .fail(function(){
    console.log("失敗");
  })
  .always(function(){
    console.log("----------");
  });
});

$(document).on('change', '.select-start-date', function() {

  const get_url = $(this).parent().attr("action");
  console.log(get_url);
  const get_value = $(this).val();
  console.log(get_value);

  $.ajax({
    url: get_url,
    type: "PATCH",
    data: { child_task: { start_date: get_value } }
  })
  .done(function(){
    console.log("成功");
  })
  .fail(function(){
    console.log("失敗");
  })
  .always(function(){
    console.log("----------");
  });
});

$(document).on('change', '.select-end-date', function() {

  const get_url = $(this).parent().attr("action");
  console.log(get_url);
  const get_value = $(this).val();
  console.log(get_value);

  $.ajax({
    url: get_url,
    type: "PATCH",
    data: { child_task: { end_date: get_value } }
  })
  .done(function(){
    console.log("成功");
  })
  .fail(function(){
    console.log("失敗");
  })
  .always(function(){
    console.log("----------");
  });
});

$(document).on('change', '.select-user', function() {

  const get_url = $(this).parent().attr("action");
  console.log(get_url);
  const get_value = $(this).val();
  console.log(get_value);

  $.ajax({
    url: get_url,
    type: "PATCH",
    data: { child_task: { user_id: get_value } }
  })
  .done(function(){
    console.log("成功");
  })
  .fail(function(){
    console.log("失敗");
  })
  .always(function(){
    console.log("----------");
  });
});

</script>