<div class="wrapper">
  <div class="container">
    <div class="box-100">
      <h2>親タスクの一括編集</h2>
    </div>

    <div class="box-100">
      <div class="table-container">
        <%= form_with url: project_parent_task_bulk_update_path(@project.id), local: true, method: :patch do |f| %>
        <table class="table">
          <thead>
            <tr>
              <th>タイトル(最大32字)</th>
              <th>説明(最大140字)</th>
            </tr>
          </thead>
          <tbody>
          <% @project.parent_tasks.order(display_order: :ASC).each do |parent_task| %>
            <%= fields_for "parent_task[]", parent_task do |parent_task_fields| %>
            <tr>
              <td><%= parent_task_fields.text_field :title, class: "form-textbox" %></td>
              <td><%= parent_task_fields.text_area :description, class: "form-textbox" %></td>
            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="form-action">
        <%= f.submit "一括編集", class: "btn green-color" %>
      </div>
      <% end %>
    </div>

    <div class="box-100">
      <div class="form-action">
        <%= link_to "戻る", project_path(@project.id), method: :get, class: "btn blue-color" %>
      </div>
    </div>
  </div>
</div>