<div class="wrapper">
  <div class="container">
    <div class="form-container">
      <div class="box-100">
        <h2><%= @user.display_name %>さんの編集</h2>
      </div>

      <%= render "layouts/errors", obj: @user %>

      <div class="box-100">
        <%= form_with model: @user, url: admin_user_path(@user.id), local: true, method: :patch do |f| %>

        <div class="form-field">
          <%= f.label :display_name, "表示名" %><br />
          <%= f.text_field :display_name, autofocus: true, autocomplete: "display_name", class: "form-textbox" %>
        </div>
        <div class="form-field">
          <%= f.label :user_name, "ユーザーネーム" %><br />
          <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "form-textbox" %>
        </div>
        <div class="form-field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-textbox" %>
        </div>
        <div class="form-field">
            <%= f.label :is_deleted, "ステータス" %><br>
            <%= f.select :is_deleted, options_for_select([['有効', false], ['無効', true]], @user.is_deleted),{ }, {id: "", class: "form-textbox"} %>
        </div>
        <div class="form-action">
          <%= f.submit "更新", class: "btn green-color" %>
        </div>
        <% end %>

        <div class="form-action">
          <%= link_to "戻る", admin_users_path, method: :get, class: "btn blue-color" %>
        </div>
      </div>
    </div>
  </div>
</div>

