        <table class="table">
          <thead>
            <tr>
              <th>タスク名</th>
              <th>開始日</th>
              <th>終了日</th>
              <th>ステータス</th>
              <th>進捗率</th>
              <th>担当者</th>
            </tr>
          </thead>
          <tbody>
          <% user.child_tasks.each do |my_task| %>
            <% if my_task.child_task_refinement(refinement) %>
            <tr>
              <td><%= link_to my_task.title, project_child_task_path(my_task.project.id,my_task.id), method: :get %></td>
              <td><%= my_task.start_date %></td>
              <td><%= my_task.end_date %></td>
              <td><%= my_task.status_i18n %></td>
              <td><%= my_task.progress %>%</td>
              <td><%= my_task.user.display_name %></td>
            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
