        <table class="table">
          <thead>
            <tr>
              <th>プロジェクト名</th>
              <th>開始日</th>
              <th>終了日</th>
              <th>ステータス</th>
              <th>進捗率</th>
            </tr>
          </thead>
          <tbody>
          <% user.project_members.each do |join_project| %>
            <% if join_project.project.project_refinement(refinement) %>
            <tr>
              <td><%= link_to join_project.project.title, project_path(join_project.project.id), method: :get %></td>
              <td><%= join_project.project.project_start_date %></td>
              <td><%= join_project.project.project_end_date %></td>
              <td><%= join_project.project.project_status %></td>
              <td><%= join_project.project.project_progress %>%</td>
            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
