<div class="wrapper">
  <div class="container flex-box">
    <div class="box-100">
      <h2><%= @user.display_name %>さんのダッシュボード</h2>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>担当タスク</h3>
      </div>
      <div class="announcement_body">
        <p><%= @user.task_count %>件<p>
      </div>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>完了タスク</h3>
      </div>
      <div class="announcement_body">
        <p><%= @user.task_complete %>件<p>
      </div>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>残りタスク</h3>
      </div>
      <div class="announcement_body">
        <p><%= @user.task_remaining %>件<p>
      </div>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>タスク進捗率</h3>
      </div>
      <div class="announcement_body">
        <p><%= @user.task_progress %>%<p>
      </div>
    </div>

    <div class="box-100">
      <h2>プロジェクト一覧</h2>
    </div>

    <div class="box-100">
      <ul class="search-list">
        <li class="search-list-item"><%= link_to "参加プロジェクト", my_project_refinement_path(refinement: "all"), method: :post, remote: true %></li>
        <li class="search-list-item"><%= link_to "完了プロジェクト", my_project_refinement_path(refinement: "complete"), method: :post, remote: true %></li>
        <li class="search-list-item"><%= link_to "残りプロジェクト", my_project_refinement_path(refinement: "remaining"), method: :post, remote: true %></li>
      </ul>
      <div class="table-container" id="my_project_refinement">
        <%= render "public/users/my_project_refinement", { user: @user, refinement: @refinement } %>
      </div>
    </div>

    <div class="box-100">
      <%= link_to "プロジェクト新規作成", new_project_path, method: :get, class: "btn green-color" %>
    </div>

    <div class="box-100">
      <h2>タスク一覧</h2>
    </div>

    <div class="box-100">
      <ul class="search-list">
        <li class="search-list-item"><%= link_to "担当タスク", my_task_refinement_path(refinement: "all"), method: :post, remote: true %></li>
        <li class="search-list-item"><%= link_to "完了タスク", my_task_refinement_path(refinement: "complete"), method: :post, remote: true %></li>
        <li class="search-list-item"><%= link_to "残りタスク", my_task_refinement_path(refinement: "remaining"), method: :post, remote: true %></li>
      </ul>
      <div class="table-container" id="my_task_refinement">
        <%= render "public/users/my_task_refinement", { user: @user, refinement: @refinement } %>
      </div>
    </div>
  </div>
</div>