<div class="wrapper">
  <div class="container flex-box">
    <div class="box-100">
      <h2><%= @user.display_name %>さんのダッシュボード</h2>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>担当タスク</h3>
      </div>
      <div class="announcement_body">
        <p><%= @user.task_count %>件<p>
      </div>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>完了タスク</h3>
      </div>
      <div class="announcement_body">
        <p><%= @user.task_complete %>件<p>
      </div>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>残りタスク</h3>
      </div>
      <div class="announcement_body">
        <p><%= @user.task_remaining %>件<p>
      </div>
    </div>

    <div class="box-25">
      <div class="announcement_header">
        <h3>タスク進捗率</h3>
      </div>
      <div class="announcement_body">
        <p><%= @user.task_progress %>%<p>
      </div>
    </div>

    <div class="box-100">
      <h2>プロジェクト一覧</h2>
    </div>

    <div class="box-100">
      <ul class="search-list">
        <li class="search-list-item"><%= link_to "参加プロジェクト", my_project_refinement_path(refinement: "all"), method: :post, remote: true %></li>
        <li class="search-list-item"><%= link_to "完了プロジェクト", my_project_refinement_path(refinement: "complete"), method: :post, remote: true %></li>
        <li class="search-list-item"><%= link_to "残りプロジェクト", my_project_refinement_path(refinement: "remaining"), method: :post, remote: true %></li>
      </ul>
      <div class="table-container" id="my_project_refinement">
        <%= render "public/users/my_project_refinement", { user: @user, refinement: @refinement } %>
      </div>
    </div>

    <div class="box-100">
      <%= link_to "プロジェクト新規作成", new_project_path, method: :get, class: "btn green-color" %>
    </div>

    <div class="box-100">
      <h2>タスク一覧</h2>
    </div>

    <div class="box-100">
      <ul class="search-list">
        <li class="search-list-item"><%= link_to "担当タスク", my_task_refinement_path(refinement: "all"), method: :post, remote: true %></li>
        <li class="search-list-item"><%= link_to "完了タスク", my_task_refinement_path(refinement: "complete"), method: :post, remote: true %></li>
        <li class="search-list-item"><%= link_to "残りタスク", my_task_refinement_path(refinement: "remaining"), method: :post, remote: true %></li>
      </ul>
      <div class="table-container" id="my_task_refinement">
        <%= render "public/users/my_task_refinement", { user: @user, refinement: @refinement } %>
      </div>
    </div>

    <div class="box-100">
      <h2>資料一覧</h2>
    </div>

    <div class="box-100">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>URL</th>
              <th>プロジェクト</th>
              <th>資料作成日</th>
            </tr>
          </thead>
          <tbody>
            <% @user.documents.reverse.each do |document| %>
            <tr>
              <td><%= link_to document.title, project_document_path(document.project.id,document.id), method: :get %></td>
              <td><%= link_to document.url, document.url, target: :_blank, rel: "noopener noreferrer" %></td>
              <td><%= link_to document.project.title, project_path(document.project.id), method: :get %></td>
              <td><%= document.created_at.to_date %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>