<header class="header-wrapper">
  <div class="header-container header-flex-box">
    <div class="header-left">
      <h1 class="header-logo">SelfManagementApp</h1>
      <% if user_signed_in? %>
        <p>ようこそユーザー<%= current_user.user_name %>さん</p>
      <% end %>

      <% if admin_signed_in? %>
        <p>ようこそ管理者<%= current_admin.user_name %>さん</p>
      <% end %>
    </div>

    <div class="header-right">
      <nav>
        <ul class="nav-list">
          <% if admin_signed_in? %>
            <li class="nav-list-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          <% elsif user_signed_in? %>
            <li class="nav-list-item"><%= link_to "ダッシュボード", dashboard_path, method: :get %></li>
            <li class="nav-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="nav-list-item"><%= link_to "HOME", root_path, method: :get %></li>
            <li class="nav-list-item"><%= link_to "ABOUT", about_path, method: :get %></li>
            <li class="nav-list-item"><%= link_to "新規登録", new_user_registration_path, method: :get %></li>
            <li class="nav-list-item"><%= link_to "ユーザーログイン", new_user_session_path, method: :get %></li>
            <li class="nav-list-item"><%= link_to "管理者ログイン", new_admin_session_path, method: :get %></li>
          <% end %>
        </ul>
      </nav>

    </div>
  </div>
</header>