<header class="header-wrapper">
  <div class="header-container header-flex-box">
    <div class="header-left">
      <% if user_signed_in? %>
        <h1 class="header-logo"><%= link_to "SelfManagementApp", dashboard_path, method: :get %></h1>
      <% elsif admin_signed_in? %>
        <h1 class="header-logo"><%= link_to "SelfManagementApp", admin_root_path, method: :get %></h1>
      <% else %>
        <h1 class="header-logo"><%= link_to "SelfManagementApp", root_path, method: :get %></h1>
      <% end %>

      <% if user_signed_in? %>
        <p>ようこそ<%= current_user.display_name %>さん</p>
      <% elsif admin_signed_in? %>
        <p>ようこそ<%= current_admin.display_name %>さん</p>
      <% end %>
    </div>

    <div class="header-right">
      <nav>
        <ul class="nav-list">
          <% if admin_signed_in? %>
            <li class="nav-list-item"><%= link_to "ユーザー一覧", admin_users_path, method: :get %></li>
            <li class="nav-list-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          <% elsif user_signed_in? %>
            <li class="nav-list-item"><%= link_to "ダッシュボード", dashboard_path, method: :get %></li>
            <li class="nav-list-item"><%= link_to "マイページ", my_page_path, method: :get %></li>
            <li class="nav-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="nav-list-item"><%= link_to "新規登録", new_user_registration_path, method: :get %></li>
            <li class="nav-list-item"><%= link_to "ログイン", new_user_session_path, method: :get %></li>
          <% end %>
        </ul>
      </nav>

    </div>
  </div>
</header>